@import "tailwindcss";

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Theme Colors */
@theme {
  --color-primary: #D4AF37;        /* Gold */
  --color-primary-hover: #B8962E;

  --color-secondary: #7C2D12;      /* Wine brown */
  --color-secondary-hover: #5B1F0D;

  --color-background: #0B0B0B;     /* Deep black */
  --color-surface: #141414;
  --color-card: #1C1C1C;
  --color-border: #2A2A2A;

  --color-text-primary: #F5F5F5;
  --color-text-secondary: #D4D4D4;
  --color-text-muted: #A3A3A3;

  --color-success: #22C55E;
  --color-danger: #EF4444;
  --color-warning: #EAB308;
  --color-info: #0EA5E9;
}


/* tailwind.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Base Styles */
body {
  font-family: "Oswald", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
